In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By

# Q 1

In [43]:
driver = webdriver.Chrome()

In [44]:

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [45]:
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [49]:



try:
    rank = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')

try:
    name = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

try:
    artist = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')


try:
    upload_date = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('NA')

try:
    views = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('NA')

In [50]:
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
...,...,...,...,...,...
115,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
116,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
117,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
118,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
119,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

# Q 2

In [51]:
driver = webdriver.Chrome()

In [52]:
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(1)

In [ ]:

fixtures=driver.find_element(By.XPATH,"//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [ ]:

URL= []
link=driver.find_elements(By.XPATH,'//div[@class="js-list"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [17]:

Title = []
Series = []
Place = []
Date = []
Time = []

In [59]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    
    
    try:
        title=driver.find_element(By.XPATH,"//p[@class='mc-header-info__match-description']/span")
        Title.append(title.text)
    except NoSuchElementException:
        Title.append('NA')
        

    try:
        series=driver.find_element(By.XPATH,"//h1[@class='mc-header-info__title']/strong")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('NA')
        
    
    try:
        place=driver.find_element(By.XPATH,"//h1[@class='mc-header-info__title']")
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('NA')
        
    
    try:
        date=driver.find_element(By.XPATH,'//div[@class="mc-header-scorebox__datetime"]/strong')
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('NA')
        
    
    try:
        time=driver.find_element(By.XPATH,'//div[@class="mc-header-scorebox__datetime"]/span')
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('NA')

0it [00:00, ?it/s]

In [60]:
Cricket=pd.DataFrame({'Match Title':Title,'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
print('\033[1m'+'Team Indiaâ€™s Upcoming International fixtures :'+'\033[0m')
Cricket

Team Indiaâ€™s Upcoming International fixtures :

Empty DataFrame
Columns: [Match Title, Tournament, Venue, Date, Time]
Index: []

# Q 3

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [62]:
driver = webdriver.Chrome()

In [63]:

url='https://www.statisticstimes.com/'
driver.get(url)
time.sleep(1)

In [66]:
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [65]:
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [67]:
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    

try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    

try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    

try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')


try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [68]:
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q 4

In [4]:
driver = webdriver.Chrome()

In [5]:
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [6]:

trending=driver.find_element(By.XPATH,'//ul[@class="list-style-none mb-3"][2]/li[3]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//ul[@class="list-style-none mb-3"][2]/li[3]/a"}
  (Session info: chrome=118.0.5993.89); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6E4CE8EF2+54786]
	(No symbol) [0x00007FF6E4C55612]
	(No symbol) [0x00007FF6E4B0A64B]
	(No symbol) [0x00007FF6E4B4B79C]
	(No symbol) [0x00007FF6E4B4B91C]
	(No symbol) [0x00007FF6E4B86D87]
	(No symbol) [0x00007FF6E4B6BEAF]
	(No symbol) [0x00007FF6E4B84D02]
	(No symbol) [0x00007FF6E4B6BC43]
	(No symbol) [0x00007FF6E4B40941]
	(No symbol) [0x00007FF6E4B41B84]
	GetHandleVerifier [0x00007FF6E5037F52+3524194]
	GetHandleVerifier [0x00007FF6E508D800+3874576]
	GetHandleVerifier [0x00007FF6E5085D7F+3843215]
	GetHandleVerifier [0x00007FF6E4D85086+694166]
	(No symbol) [0x00007FF6E4C60A88]
	(No symbol) [0x00007FF6E4C5CA94]
	(No symbol) [0x00007FF6E4C5CBC2]
	(No symbol) [0x00007FF6E4C4CC83]
	BaseThreadInitThunk [0x00007FFBAFAF7344+20]
	RtlUserThreadStart [0x00007FFBB10626B1+33]

In [27]:

Title=[]
Description=[]
Count =[]
Language =[]

In [28]:

URL= []
link=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [29]:
len(URL)

0

In [75]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    time.sleep(5)
    
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
    
    
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
    
    
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')

0it [00:00, ?it/s]

In [76]:
Github=pd.DataFrame({'Title':Title,'Description':Description,
                'Contributors_count':Count,'Language_used':Language})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

Empty DataFrame
Columns: [Title, Description, Contributors_count, Language_used]
Index: []

# Q 5

In [9]:
driver = webdriver.Chrome()

In [10]:
url='https://www.billboard.com/'
driver.get(url)
time.sleep(1)

In [11]:
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [ ]:

hot_100=driver.find_element(By.XPATH,'//ul[@class="header__subnav__list display--flex flex--left-center flex-md--center-center"]/li[2]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

In [ ]:
try:
    song=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[1]')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')
    

try:
    artist=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
    

try:
    last_rank=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in last_rank:
        Last_Week_rank.append(i.text)
except NoSuchElementException:
    Last_Week_rank.append('NA')


try:
    peak=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')


try:
    weeks=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append('NA')

In [41]:
Billboard=pd.DataFrame({'Song_Name':Song,
                'Artist_Name':Artist,
                'Last_week_rank':Last_Week_rank,
                'Peak':Peak_rank,
                'Weeks_on_chart':Weeks})
print('\033[1m'+'Billboard Hot 100 Songs :'+'\033[0m')
Billboard

Billboard Hot 100 Songs :

Empty DataFrame
Columns: [Song_Name, Artist_Name, Last_week_rank, Peak, Weeks_on_chart]
Index: []

# Q 6

In [79]:
driver = webdriver.Chrome()

In [80]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [81]:
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [82]:

try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    

try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    

try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    

try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    

try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [83]:

Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q 7

In [19]:
driver = webdriver.Chrome()

In [20]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [25]:

Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [26]:

try:
    name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')


try:
    year=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    

try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    

try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')


try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')


try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [27]:

IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,1. Game of Thrones (2011â€“2019),(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"2,213,086"
1,2. Stranger Things (2016â€“2025),(2016â€“2025),"Drama, Fantasy, Horror",51 min,8.7,"1,282,985"
2,3. The Walking Dead (2010â€“2022),(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,119"
3,4. 13 Reasons Why (2017â€“2020),(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"308,572"
4,5. The 100 (2014â€“2020),(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,519"
...,...,...,...,...,...,...
95,96. Reign (2013â€“2017),(2013â€“2017),Drama,42 min,7.5,"52,948"
96,97. A Series of Unfortunate Events (2017â€“2019),(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"65,020"
97,98. Criminal Minds (2005â€“ ),(2005â€“ ),"Crime, Drama, Mystery",42 min,8.1,"211,883"
98,99. Scream: The TV Series (2015â€“2019),(2015â€“2019),"Comedy, Crime, Drama",45 min,7,"44,095"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"269,701"

# Q 8

In [17]:
driver = webdriver.Chrome()

In [18]:
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [19]:
dataset=driver.find_element(By.XPATH,"//a[@class='btn-primary btn']")
dataset.click()
time.sleep(1)

In [20]:
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [21]:

from tqdm import tqdm
try:
    dataset=driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    

try:
    Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    

try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    

try:
    attribute_Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    

try:
    no_of_Instances=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')


try:
    no_of_Attribute=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    

try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:04<00:00,  2.36it/s]

In [25]:
len(Dataset)

10

In [26]:

UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

                          DataSet Title
0                                  Iris
1                         Heart Disease
2                                 Adult
3                                  Wine
4  Breast Cancer Wisconsin (Diagnostic)
5                              Diabetes
6                      Dry Bean Dataset
7                        Car Evaluation
8            Rice (Cammeo and Osmancik)
9                          Wine Quality